GAME_ADMIN_TOKEN=change-me
SESSION_SECRET=change-me
MOTIS_BASE_URL=https://api.transitous.org
TRANSIT_PROVIDER=motis
INT_BAHN_BASE_URL=https://int.bahn.de
HISTORY_SERVICE_BASE_URL=http://127.0.0.1:8000
HISTORY_SERVICE_TIMEOUT_MS=2000
HISTORY_SERVICE_CACHE_TTL_SECONDS=300
EVENT_TIMEZONE=Europe/Berlin
CACHE_TTL_SECONDS=60
TRANSIT_REQUEST_DELAY_MS=500
TRANSIT_MAX_RETRIES=3
MAP_MIN=52.0,10.0
MAP_MAX=52.8,11.0
